Task2/xml-resources/web-service-references/AdministradorController/wsdl/localhost_8000/AdmProWs/AdministradorController.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://controller/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller/">

<xs:element name="eliminarAdministrador" type="tns:eliminarAdministrador"/>

<xs:element name="eliminarAdministradorResponse" type="tns:eliminarAdministradorResponse"/>

<xs:element name="getAdministradores" type="tns:getAdministradores"/>

<xs:element name="getAdministradoresResponse" type="tns:getAdministradoresResponse"/>

<xs:element name="guardarAdministrador" type="tns:guardarAdministrador"/>

<xs:element name="guardarAdministradorResponse" type="tns:guardarAdministradorResponse"/>

<xs:complexType name="guardarAdministrador">
<xs:sequence>
<xs:element name="administrador" type="tns:administradorDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="administradorDto">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarAdministrador">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdministradores">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdministradoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:administradorDto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>